# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
*.log

# TypeScript
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Docker
.docker/
docker-compose.override.yml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests & Coverage
coverage/
*.lcov

# LocalStack
.localstack/
localstack/
*.pem
*.key